<div class="login-background">
  <img class="vector" alt="vector" src="assets/images/Vector.png" />
  <img class="logo" alt="logo" src="assets/images/logo_white.png" />
  <div class="login-container shadow-2xl">
    <div class="text-center">
      <h2 class="text-2xl font-bold">Recuperation de votre mot de passe</h2>
      <!-- <p class="text-lg">Connectez-vous pour commencer en saisissant vos identifiants.</p> -->
    </div>
    <!-- <ng-template pTemplate="content"> -->
    @if(!requestSent){
    <form [formGroup]="forgottenPassForm" (ngSubmit)="onLogin()" class="space-y-6">
      <!-- Email -->
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-semibold text-gray-700"> Email </label>
        <input
          pInputText
          id="email"
          formControlName="email"
          type="email"
          placeholder="votre.email@example.com"
          class="w-full"
          [class.p-invalid]="
            forgottenPassForm.get('email')?.invalid && forgottenPassForm.get('email')?.touched
          "
        />
        <small
          *ngIf="forgottenPassForm.get('email')?.invalid && forgottenPassForm.get('email')?.touched"
          class="text-red-500"
        >
          Email requis et valide
        </small>
      </div>

      <!-- Bouton de connexion -->
      <p-button
        type="submit"
        label="Envoyer le lien de recuperation"
        icon="pi pi-sign-in"
        [loading]="isLoading"
        [disabled]="forgottenPassForm.invalid || isLoading"
        styleClass="w-full"
        severity="primary"
      />

      <!-- Lien vers création de compte -->
      <div class="text-center mt-6">
        <span class="text-sm text-gray-600">Vous avez déjà un compte? </span>
        <a
          (click)="goToLogin()"
          class="text-sm text-indigo-600 hover:text-indigo-800 font-semibold cursor-pointer"
        >
          Se connecter
        </a>
      </div>
    </form>
    }

    <!-- </ng-template> -->

    <!-- Footer -->
    <div class="text-center mt-8 text-sm text-gray-500">
      <p>© 2026 Plateforme Clinic+O. Tous droits réservés.</p>
    </div>
  </div>
</div>
<p-toast />
